/* =================================================================================
*  Table of contents:
*  a. Default styles
*     1. Basics
*     2. Typography
*     3. Links
*     4. List
*     5. Images
*     6. Buttons
*  b. Grid
*     1. Default
*     2. Smaller screens
*  ================================================================================= */

body {
   margin: 0;
}

/* a. Default styles =============================================================== */

/* 1. Basics ----------------------------------------------------------------------- */
*, *:before, *:after { box-sizing: border-box; }

body {
   background: #0f0f0f;
   font-family: Verdana, sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
	color: #838C95;
	-webkit-text-size-adjust: 100%;
}

/* 2. Typography ------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 { color: #313131; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }

p { margin: 0 0 30px 0; }
p img { margin: 0; }
em { font: 15px/30px Verdana, sans-serif; }
hr { border: solid #E3E3E3; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }

/* 3. Links ----------------------------------------------------------------------- */
a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #ffffff;
   transition: color .3s ease-in-out;
}
a:hover, a:focus { color: #11ABB0; }


/* 4. List ------------------------------------------------------------------------ */
ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
li { line-height: 18px; margin-bottom: 12px; }

/* 5. Images ---------------------------------------------------------------------- */
img {
   max-width: 100%;
   height: auto;
}

/* 6. Buttons --------------------------------------------------------------------- */
.button {
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #ffffff;
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;
	transition: all .2s ease-in-out;
   border-radius: 3px;
}

.button:hover, .button:active {
   background: #3d4145;
   color: #ffffff;
}

/* b. Grid ========================================================================= */

/* 1. Default ---------------------------------------------------------------------- */
.row {
   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}

.row .row { width: auto; max-width: none; margin: 0 -20px; }

.row:before, .row:after {
   content: " ";
   display: table;
}
.row:after {
   clear: both;
}

.column, .columns {
   position: relative;
   padding: 0 20px;
   min-height: 1px;
   float: left;
}

/* Column widths */
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }

/* 2. Smaller screens ------------------------------------------------------------- */
/* Mobile wide/smaller tablets */
@media only screen and (max-width: 767px) {
   .row {
	   width: 460px;
	   margin: 0 auto;
      padding: 0;
	}
   .column, .columns {
	   width: auto !important;
	   float: none;
	   margin-left: 0;
	   margin-right: 0;
      padding: 0 30px;
   }
   .row .row { width: auto; max-width: none; margin: 0 -30px; }
}

/* Mobile narrow */
@media only screen and (max-width: 460px) {
   .row { width: auto; }
}

/* Larger screens */
@media screen and (min-width: 1200px) {
   .wide .row { max-width: 1180px; }
}